*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.row-ms {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.col-ms{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.me-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
}
header .a_nav-link{
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
}
header .a_nav-link:hover{
    color: #007d2f;
    text-shadow: 0 0 5px #007d2f;
}
header .text{
    background: #323232;
    padding: 110px;
}
header .text h1{
    font-size: 61,69px;
    color: #fff; 
}
header .text p{
    font-size: 22,52px;
    color: #fff;
}
/* header end */
/* **************** */
/* main start */
/* main ul li a{
    font-size: 150px;
    color: #fff;  
    transition: .5s;
} */
main{
    background: #007d2f;
    padding-top: 60px;
    padding-bottom: 60px;
}
main i{
    font-size: 30px;
    color: #fff;  
}
main h4{
    color: #fff;
    font-size: 18,44px;
}
main p{
    color: #fff;
}

/* main-end */
/* ******************* */
/* section-start */
section .section-block{
    background: #f5f5f5;
}
section .about{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
/* section .right-text{
   margin-left: 110px;
} */
section .right-text{
    margin-left: 110px;
    margin-right: 125px;
}
section .right-text h3{
    font-size: 30px;  
    color: #171717;
    margin-top: 135px;
}
section .right-text .p-1{
    font-size: 16px;
    color: #787878;
}
section .right-text .p-2{
    font-size: 16px;
    color: #787878;
}

section .section-block-2 h2{
    font-size: 30px;
    color: #1d1d1d;
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
section .section-block-2 p{
    font-size: 16px;
    color: #787878;
    text-align: center;
    
}
section .section-block-2 button{
    font-size: 12px;
    color: #fff;
    background: #007d2f;
    padding: 20px 40px;
    border: none;
    margin-top: 37px;
}
/* section-end */
/* ******************************* */
/* footer-start */
footer{
    background: #141414;
    margin-top: 100px;
    padding-top: 108px;
    padding-bottom: 92px;
}
footer h3{
    font-size: 17,66px;
    color: #fff;
 
}
footer .info{
    font-size: 14,72px;
    color: #bcbcbc;

}
footer .email{
    font-size: 14,72px;
    color: #bcbcbc;

    
}
footer .tel{
    font-size: 14,72px;
    color: #bcbcbc;
}
footer ul {
    list-style: none;
}
footer ul li a{
    font-size: 14px;
    color: #bcbcbc;
    text-decoration: none;
    transition: .5s;
}
footer ul li a:hover{
    color: rgb(231, 7, 19);
}